{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Super Shop Management{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}

      <!-- Latest compiled and minified Bootstrap CSS -->
      <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.css' %}">


      <!-- Your stuff: Third-party CSS libraries go here -->

      <!-- This file stores project-specific CSS -->

      <link href="{% static 'css/project.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/custom.css' %}">


    {% endblock %}
    {% block compressed-css %}
    {% endblock compressed-css %}
    {% block extra_css %}
    {% endblock extra_css %}

</head>

<body>

{% include "basic/navigation.html" %}

{% block navigation %}
{% endblock navigation %}

{% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    {% endfor %}
{% endif %}
<div class="container">
    {% block content %}

    {% endblock %}
</div>

{% block content_extra %}
{% endblock %}

{% block extra_body %}
{% endblock %}

{% block modal %}{% endblock modal %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}

  <!-- Bootstrap JS and its dependencies-->
  <script src="{% static 'vendor/jquery/jquery.js' %}" crossorigin="anonymous"></script>
  <script src="{% static 'vendor/popper/umd/popper.min.js' %}" crossorigin="anonymous"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>

  <!-- Your stuff: Third-party javascript libraries go here -->


  <!-- place project specific Javascript in this file -->

  <script src="{% static 'js/project.js' %}"></script>


{% endblock javascript %}
{% block extra_js %}
{% endblock extra_js %}
</body>
</html>

