{% extends 'base.html' %}
{% block title %}{{ user.get_full_name|upper }} | Online Tutor{% endblock %}
{% block meta-description-content %}
    Profile page of {{ user.get_full_name|upper }} {% endblock %}
{% block google-code %}

{% endblock %}
{% load staticfiles %}
{% block compressed-css %}
  <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
  <style>

  </style>
{% endblock %}
{% block content %}
  <div class="container">
	<div class="row">
		{% include 'users/user_sidebar.html'  with active_url=request.resolver_match.url_name %}
		{% block user_profile %}
		{% endblock user_profile %}
	</div>
</div>
{% endblock %}
