<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
<h1>Friend List</h1>
<ul id='friend-list'>

</ul>
<script>
    const user_name = "{{ request.user.username }}";
    let friend_list = [];
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/friend-list'
    );
    console.log(user_name)
    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        {#document.querySelector('#chat-log').value += (data.message + '\n');#}
        if (data.status == 'connected') {
            friend_list.push(data)
        /*
            if (frind_list.includes(data.connection_key)) {
                let object_index = frind_list.indexOf(data.connection_key)
                if (frind_list[object_index].user_name = data.user_name && data.user_name_ != user_name) {
                    frind_list[object_index].status = data.status
                }
            } else if (data.user_name_ != user_name) {
                let single_friend =
                frind_list.push(data.connection_key11)
                frind_list[data.connection_key11]
            }*/
        }

        console.log(friend_list)
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };
</script>
</body>
</html>